* {
    margin: 0;
    padding: 0;
}

.navbar {
    width: 100%;
    height: 60px;
    background-color: #5fe9ff;
}

.img {
    padding: 12px;
}



.logo {
    float: left;
    display: flex;
    line-height: 30px;
    padding-top: 7px;
    margin-left: 2%;
}

.txt {
    psdding: 5px;
    font-family: Algerian;
    font-size: 35px;
    color: #fff;
    line-height: 45px;
    margin-left: 5%;
}

.nav {
    background-color: #5fe9ff;
    margin-right: 25%;

}

.nav ul {
    list-style: none;
    position: relative;
    padding: 0px;
    margina: 0px;
    float: right;
}

.nav ul li {
    display: inline-block;
    background-color: #5fe9ff;

}

.nav ul li a {
    display: block;
    text-decoration: none;
    padding: 0px 20px;
    color: tomato;
    line-height: 60px;
    font-size: 20px;
    font-family: Bell MT;
}

.nav ul li a:hover {
    background-color: green;
}

.nav ul li:hover > ul {
    display: inherit;
}

.nav ul ul {
    display: none;
    position: absolute;
    top: 60px;

}

.nav ul ul li {
    width: 170px;
    position: relative;
    display: list-item;
    float: none;
}

.nav ul ul ul li {
    position: relative;
    left: 170px;
    top: -60px;
}

marquee {
    background-color: #000;
    color: cyan;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px red;
}

marquee a {
    text-decoration: none;
    color: white;
}

.navba {
    background-color: #000;
    color: white;
    margin-top: 40px;
}

.navba h2 {
    text-align: center;
}

.navba p {
    text-align: center;
}

.search {
    background-color: aqua;
    padding: 10px;
    text-align: center;
    font-size: 17px;
}

.topdownload {
    background-color: rgba(38, 158, 112);
    box-shadow: 2px 2px 2px 2px rgba(26, 110, 85)
}

.topdownload h2 {
    color: white;
    font-size: 20px;
    padding: 10px;
    text-align: center;
}

.topbangla {
    background-color: aliceblue;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 10px 1px 4px 1px #ccc;
}

.topbangla a {
    text-decoration: none;
    color: #000;
    padding: 2px;
    border-radius: 5px;
    border: 0.1px solid #000;
}

.topbangla a:hover {
    background-color: #ccc;
}

.toptollywood {
    background-color: aliceblue;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 10px 1px 4px 1px #ccc;
}

.toptollywood a {
    text-decoration: none;
    color: #000;
    border: 0.1px solid #000;
    padding: 2px;
    border-radius: 5px;
}

.toptollywood a:hover {
    background-color: #ccc;
}

.tophindi {
    background-color: aliceblue;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 10px 1px 4px 1px #ccc;
}

.tophindi a {
    text-decoration: none;
    color: #000;
    border: 0.1px solid #000;
    padding: 2px;
    border-radius: 5px;
}

.tophindi a:hover {
    background-color: #ccc;
}

.weaklytop {
    background-color: aliceblue;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    box-shadow: 10px 1px 4px 1px #ccc;
}

.weaklytop h3 {
    padding: 5px;
    border: 1px solid #000;
    width: 120px;
}

.weaklytop h3:hover {
    background-color: #ccc;
}


.toplist {
    background-color: aquamarine;
    text-align: center;
    color: red;
    font-size: 25px;
    padding: 15px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 20px;
    border-radius: 10px;
}


.slider {
    width: 800px;
    height: 400px;
    overflow: hidden;
    border: 5px solid #000;
    border-radius: 15px;
    margin: auto;
}

.slides {
    display: flex;
    flex-direction: row;
    width: 400%;
    height: 400px;
    animation: slide 10s ease-in infinite;
}

.slide img {
    width: 800px;
    height: 100%;
}

@keyframes slide {
    0% {
        margin-left: 0;
    }

    21% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    46% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    71% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    95% {
        margin-left: -300%;
    }

    100% {
        margin-left: 0;
    }
}


